/* Grid */

body {
  margin: 0;
  padding: 0;
}

.col-xs-12 {
  padding: 0;
}


/* Bootstrap overwrites */

a,
a:hover,
a:active,
a:visited {
  color: #000;
  text-decoration: none;
}

.modal-content {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.img-responsive {
  margin: 0 auto;
}

.modal-body {
  font-size: 1.25em;
}

.flex-content {
  display: flex;
  flex-flow: row wrap;
}

/* Intro Page */

.section {
  min-height: 100vh;
  background-color: #fffffc;
  justify-content: center;
  align-items: center;
}

.intro-pic {
  margin: 0 auto 1em;
  opacity: 0.5;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
}

.intro-pic:hover {
  opacity: 1;
  cursor: pointer;
}

.intro-header {
  text-align: center;
  margin: auto;
}

.intro-portfolio {
  font: 400 1em "Open Sans", sans-serif;
  margin: auto;
}

.intro-name {
  font: 400 3em "Open Sans", sans-serif;
  text-transform: uppercase;
  margin: auto;
}

.intro-title {
  font: 300 2em "Open Sans", sans-serif;
  margin: 0 auto 2.5em auto;
}

.intro-nav {
  justify-content: space-between;
  margin: 2em auto;
  max-width: 700px;
  width: 100%;
}

.intro-nav-item {
  font: 700 1.25em/2 "Open Sans", sans-serif;
  text-align: center;
  position: relative;
  text-decoration: none;
}


.intro-nav-item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.intro-nav-item:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Main */

.about,
.contact,
.work {
  background-color: #000;
  text-align: center;
}

.page-content {
  margin: auto;
  width: 100%;
  max-width: 750px;
}

.title {
  font: 400 2em/1.5 "Open Sans", sans-serif;
  border-bottom: 1px black solid;
}

.white-title {
  color: #fff;
  border-bottom-color: #fff;
}

/* About Page */

.about {
  color: #fff;
  background-color: #000;
}

.about-text {
  font: 400 1em/1.5 "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #fff;
}

.about-text:nth-child(5) {
  font-size: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid white;
}

.webcomic-link,
.webcomic-link:active,
.webcomic-link:visited {
  color: #bbb;
  text-decoration: none;
}

.webcomic-link:hover {
  text-decoration: none;
  color: #fff;
}

/* Work Page */

.work {
  background-color: #fff;
}

.work-title {
  border-bottom: none;
}

.work-content {
  max-width: 100%;
}

.work-gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.project {
  font: 400 1.5em "Open Sans", sans-serif;
  text-transform: uppercase;
  margin: 1em auto;
  opacity: 0.4;
  transition: opacity 0.6s;
}

.project:hover {
  opacity: 1;
}

.work-image {
  width: 100%;
}

.work-image:hover {
  cursor: pointer;
}

/* Arrows */

.visible {
  display: block;
}

.invisible {
  display: none;
}

.footer-arrow {
  position: fixed;
  left: calc(50% - 25px);
  bottom: 0;
  height: 50px;
  width: 50px;
}

.scroll-arrow {
  -webkit-animation:bounce 1.5s infinite;
  -moz-animation: bounce 1.5s infinite;
  -o-animation: bounce 1.5s infinite;
  animation: bounce 1.5s infinite;
}

.scroll-arrow,
.scroll-arrow:hover,
.scroll-arrow:active,
.scroll-arrow:visited {
  text-decoration: none;
  color: #FFF;
}

@-webkit-keyframes bounce {
  0% {
    bottom: 0;
  }
  10% {
    bottom: 2px;
  }
  10% {
    bottom: 4px;
  }
  20% {
    bottom: 6px;
  }
  30% {
    bottom: 8px;
  }
  40% {
    bottom: 10px
     }
  50% {
    bottom: 10px
     }
  60% {
    bottom: 8px;
  }
  70% {
    bottom: 6px;
  }
  80% {
    bottom: 4px;
  }
  90% {
    bottom: 2px;
  }
  100% {
    bottom: 0;
  }
}

@-moz-keyframes bounce {
  0% {
    bottom: 0;
  }
  10% {
    bottom: 2px;
  }
  10% {
    bottom: 4px;
  }
  20% {
    bottom: 6px;
  }
  30% {
    bottom: 8px;
  }
  40% {
    bottom: 10px
     }
  50% {
    bottom: 10px
     }
  60% {
    bottom: 8px;
  }
  70% {
    bottom: 6px;
  }
  80% {
    bottom: 4px;
  }
  90% {
    bottom: 2px;
  }
  100% {
    bottom: 0;
  }
}

@-o-keyframes bounce {
  0% {
    bottom: 0;
  }
  10% {
    bottom: 2px;
  }
  10% {
    bottom: 4px;
  }
  20% {
    bottom: 6px;
  }
  30% {
    bottom: 8px;
  }
  40% {
    bottom: 10px
     }
  50% {
    bottom: 10px
     }
  60% {
    bottom: 8px;
  }
  70% {
    bottom: 6px;
  }
  80% {
    bottom: 4px;
  }
  90% {
    bottom: 2px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes bounce {
  0% {
    bottom: 0;
  }
  10% {
    bottom: 2px;
  }
  10% {
    bottom: 4px;
  }
  20% {
    bottom: 6px;
  }
  30% {
    bottom: 8px;
  }
  40% {
    bottom: 10px
     }
  50% {
    bottom: 10px
     }
  60% {
    bottom: 8px;
  }
  70% {
    bottom: 6px;
  }
  80% {
    bottom: 4px;
  }
  90% {
    bottom: 2px;
  }
  100% {
    bottom: 0;
  }
}

/* Contact Page */

.contact-list {
  font: 400 1em/2 "Open Sans", sans-serif;
  color: white;
  list-style: none;
  display: inline;
}

.link,
.link:focus,
.link:hover,
.link:visited,
.link:active {
  color: #fff;
}

.contact-greeting {
  font: 400 1.5em/1.5 "Open Sans", sans-serif;
  color: #fff;
}

.to-top {
  font: 300 1em "Open Sans", sans-serif;
  color: #fff;
}

.to-top:hover {
  color: #fff;
}

.to-top-arrow {
  position: relative;
}

/* Responsive */

@media screen and (min-width: 500px) {
  .about-text {
    font-size: 1em;
  }
}

@media screen and (min-width: 750px) {
  .about-text {
    font-size: 1.25em;
  }
}

@media screen and (min-device-pixel-ratio: 2) {
  .intro-nav-item {
    font-size: 1.75em;
  }
}